<% provide(:title, "About") %>
<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>


<center>
	<h1>Welcome to about site. There is no <u style ="color:red; font-size:50px">About</u> in here</h1>
	<p style = 'color: grey'>To jest pierwszy paragraf.</p>
	<p style = 'color: blue'>To jest drugi paragraf.</p>
	<p></p>
</center>



