<% provide(:title, "Contact") %>
<div class="center jumbotron">
  <h1>Contact Us</h1>

  <h2 class = "test">
    Contact us wery quickly via this link: 
    <a href="http://www.railstutorial.org/">#whereisthebeef?</a>
    Biatch!
  </h2>
